.projectCard {
    width: 85%;
    margin: auto;
    border: 1px solid rgba(52, 68, 50, 0.5) !important;
}
@media (max-width: 375px) {
    .cardsRespContainer h2 {
      font-size: 1.5rem;
    }
    .cardsRespContainer h5 {
      font-size: 1rem;
    }
    .cardsRespContainer h3 {
        font-size: 1.4rem;
    }
    .cardsRespContainer p {
      font-size: 0.9rem;
    }
    .cardsRespContainer button {
      font-size: 0.8rem ;
    }
  }
@media (min-width: 992px) {
    .projectCard {
        width: 95%
    }
}
.card .viewSiteBtn {
    color: white;
    padding: .4rem .75rem;
    border-radius: 10px;
    box-shadow: .8px 2px 3px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to left, rgba(128, 34, 36, 0.9) 0%, rgba(215, 163, 74,1) 100%);
    transition: all 150ms ease-in;
}
.card .viewSiteBtn:hover {
    text-decoration: none;
    background: linear-gradient(to left, rgba(215, 163, 74,1) 0%, rgba(128, 34, 36, 0.9) 100%);
  }
  .card .viewSiteBtn:active {
    background: linear-gradient(to left, rgba(128, 34, 36, 0.9) 0%, rgba(215, 163, 74,1) 100%);
    box-shadow: none;
  }
.card .viewSourceBtn {
    color: white;
    padding: .4rem .75rem;
    border-radius: 10px;
    background: rgb(93, 160, 131);
    box-shadow: .8px 2px 3px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease-in;
}
.card .viewSourceBtn:hover {
  background: rgb(120, 191, 160);
  color: black;
  text-decoration: none;
}
.card .viewSourceBtn:active {
  color: white;
  background: rgb(73, 126, 103);
  box-shadow: none;
}