.projectCard {
    width: 85%;
    margin: auto;
}
@media (min-width: 992px) {
    .projectCard {
        width: 95%
    }
}

.card .viewSiteBtn {
    border-radius: 10px;
    border: rgb(215, 163, 74);
    background: linear-gradient(to left, rgba(128, 34, 36, 0.9) 0%, rgba(215, 163, 74,1) 100%);
}
.card .viewSiteBtn:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    background: linear-gradient(to left, rgba(215, 163, 74,1) 0%, rgba(128, 34, 36, 0.9) 100%);
    box-shadow: 0 0.45em 1em rgba(0, 0, 0, 0.3);
  }
.card .viewSourceBtn {
    border-radius: 10px;
    border:  rgb(15, 157, 15);
    background: rgb(15, 157, 15);
}
.card .viewSourceBtn:hover {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    background: rgb(13, 131, 13);
    box-shadow: 0 -0.45em 1em rgba(0, 0, 0, 0.3);  
}