.contactBG {
    background: lightgray;
    color: white;
}
@media (max-width: 375px) {
    .footerRespContainer h2 {
      font-size: 1.5rem;
    }
    .footerRespContainer p {
      font-size: 0.9rem;
    }
    .footerRespContainer i {
      font-size: 0.8rem ;
    }
    .footerRespContainer h5 {
      font-size: 1rem;
    }
  }

.footer p {
    color: black;
}
.footer a {
    color: inherit;
    text-decoration: none;
}
.footer i {
    color: black;
    border: 1px black solid;
    border-radius: 50%;
    padding: 15px;
    margin: 2px;
  }
  .footer .changeTextAlign {
      text-align: center
  }
  @media (min-width: 768px) {
      .footer .changeTextAlign {
          text-align: left;
      }
  }